.screen {
    width: 99%;
    border-radius: 70px;
}

.frame {
    top: -10px;
}
select {
    height: 42px;
    border-radius: 10em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    color: #f5f5f7;
    border: 1px solid white;
    width: 264px;
    padding-left: 20px;
}

option {
    color: gray;
}
svg {
    fill: white;
    top: 6px;
    left: 232px;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(90deg);
}