<section>
  <app-base-text-glow
    topText="Choose your"
    centerText="Photographic Style."
    bottomText="Change it up. Change it back."
    [glowPosition]="'center'"
  ></app-base-text-glow>
  <app-photographic-filter></app-photographic-filter>
  <p class="mt-[80px]">
    Our latest generation of Photographic Styles gives you greater creative flexibility than ever
    before, so you can <strong> make every photo even more you.</strong> And thanks to advances in
    our image pipeline, you can now reverse any style, anytime.
  </p>
  <app-photographic-features></app-photographic-features>
  <video [muted]="true" class="mb-20" [autoplay]="true" src="/videos/highlight4.mp4"></video>
  <app-base-text-glow
    topText="A18 Pro."
    centerText="A colossally"
    bottomText="capable chip."
    glowPosition="top"
  ></app-base-text-glow>
  <p class="mt-0 mb-30">
    A<strong> phenomenally powerful chip </strong>that brings exceptional speed and efficiency to
    iPhone 16 Pro. It also drives advanced video and photo features like Camera Control — and
    delivers outstanding graphics performance for AAA gaming.
  </p>
  <app-grid>
    <p class="col-span-1"></p>
    <p class="col-span-5">
      <strong class="block">New 16-core</strong><strong> Neural Engine</strong> makes on-device
      intelligence faster and more efficient
    </p>
    <p class="col-span-1"></p>
    <p class="col-span-5">
      <strong> New 6-core GPU</strong> gives you enhanced graphics performance
    </p>
    <p class="col-span-12"></p>
    <p class="col-span-1"></p>

    <p class="col-span-5">
      <strong>New 6-core CPU</strong>
      runs complex workloads faster with less power
    </p>
    <p class="col-span-1"></p>
    <p class="col-span-5">
      <strong> 17% increase in total system memory bandwidth</strong>, the highest ever in iPhone,
      for outstanding performance
    </p>
    <div class="col-span-1"></div>
    <div class="col-span-11">
      <div class="flex mt-37 gap-10">
        <strong class="text-2xl">Compare with</strong>
        <div class="relative">
          <svg class="absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
            <path
              d="m22.5597 16.9375-5.5076-5.5c-.5854-.5854-1.5323-.5825-2.1157.0039-.5835.5869-.5815 1.5366.0039 2.1211l4.4438 4.4375-4.4438 4.4375c-.5854.5845-.5874 1.5342-.0039 2.1211.2922.2944.676.4414 1.0598.4414.3818 0 .7637-.1455 1.0559-.4375l5.5076-5.5c.2815-.2812.4403-.6636.4403-1.0625s-.1588-.7812-.4403-1.0625z"
            ></path>
          </svg>
          <select class="text-2xl">
            <option>iPhone 12 Pro</option>
            <option>iPhone 12 Pro Max</option>
            <option>iPhone 13 Pro</option>
            <option>iPhone 13 Pro Max</option>
            <option>iPhone 14 Pro</option>
            <option>iPhone 14 Pro Max</option>
            <option>iPhone 15 Pro</option>
            <option>iPhone 15 Pro Max</option>
          </select>
        </div>
      </div>
      <div class="mt-20 flex gap-40">
        <div class="w-max">
          <div class="text-xl font-bold">Up to</div>
          <div class="text-gradient text-3xl font-bold">60% faster</div>
          <div class="text-xl font-bold">6‑core GPU</div>
        </div>
        <div class="w-max">
          <div class="text-xl font-bold">Up to</div>
          <div class="text-gradient text-3xl font-bold">2x faster</div>
          <div class="text-xl font-bold">6‑core GPU</div>
        </div>
      </div>
    </div>
  </app-grid>
  <small class="text-center w-full font-thin opacity-50 mt-50 block"
    >DEATH STRANDING DIRECTOR’S CUT</small
  >
  <div class="relative">
    <img class="m-auto" src="images/gaming.jpg" alt="" srcset="" />
    <div class="absolute bottom-20 w-full">
      <h2 class="text-center">Gaming.</h2>
      <h2 class="text-center">In a whole new light.</h2>
    </div>
  </div>
  <app-grid>
    <p class="col-span-1"></p>
    <p class="col-span-5 p-sm">
      With up to two times faster hardware-accelerated ray tracing, A18 Pro <strong>makes games look and
      feel beautifully lifelike </strong> — with more fluid graphics and realistic lighting.
    </p>
    <p class="col-span-5 p-sm">
      And with Game Mode in iOS 18, you’ll get better sustained frame rates for continuous play and
      improved responsiveness if you’re using wireless controllers and AirPods.
    </p>
    <p class="col-span-1"></p>
    <p class="col-span-3"></p>
    <p class="col-span-6 b-0"><strong>Up to 2x faster hardware-accelerated ray tracing </strong>than A17 Pro</p>
    <p class="col-span-3"></p>
  </app-grid>
</section>
