app-base-text-glow {
    display: block;
    margin-bottom: 112px;
}

p {
    margin-inline: auto;
    width: 40%;
    text-align: center;
}

video {
    width: 100%;
}

p.col-span-5,p.col-span-6 {
    width: 100%;
    font-size: 28px;
    border-top: solid 1px white;
    text-align: left;
    padding-top: 30px;
    padding-right: 20px;
}

select {
    height: 42px;
    border-radius: 10em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    color: #f5f5f7;
    border: 1px solid white;
    width: 264px;
    padding-left: 20px;
}

option {
    color: gray;
}

svg {
    fill: white;
    top: 6px;
    left: 232px;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(90deg);
}
.p-sm{
    border: none !important;
    font-size: 20px !important;
}
.b-0{
    border:  none !important;
}
.col-span-6{
    font-size: 40px !important;
    text-align: center !important;
}