h2 {
    align-items: center;
    color: var(--whitesmoke);
    font-family: base-bold;
    text-align: center;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}
.flex{
    display: flex;
    gap: 20px;

}