<nav class="flex relative border-b flex-wrap items-center justify-between   ">
  <div class="container flex  flex-wrap items-center justify-between ">
    <span class="ms-2 text-xl text-black dark:text-white">
      iPhone 16 Pro</span>
    <div class="ms-5 flex w-[30%] items-center justify-between">
      <ul>
        <li class="active"> Overview</li>
        <li class=""> Tech Spacs </li>
        <app-button size="sm" width="45px" height="25px">Buy</app-button>
      </ul>
    </div>
  </div>
</nav>