swiper-container {
    width: 100%;
    height: 100vh;
    transition-duration: 1s;
}

swiper-slide img {
    height: auto;
    margin-inline: auto;
}


.description {
    font-size: 17px;
    padding: 32px 5px 20px 34px;
    font-weight: 600;
    width: 382px;
}

svg {
    width: 33px;
    height: 33px;
    background-color: rgba(240, 248, 255, 0.69);
    border-radius: 50%;
}