<app-grid>
    <div class="col-span-1"></div>
    <div class="col-span-4">
        Visual intelligence
        <strong class="text-3xl block my-5">
            See the world through an entirely new lens.
        </strong>

        Use <strong>visual intelligence5</strong> through Camera Control to instantly learn about things you see.
        <strong>Just
            point your iPhone
            16 Pro to discover more </strong>or interact with something in front of you. Search for where to buy a new
        item you
        spotted, identify plants and animals, and more.
    </div>
    <div class="col-span-1"></div>
    <img src="images/visual_intelligence.jpg " class="col-span-6" alt="" srcset="">
</app-grid>