.mobile-warning {
  display: none;
}

@media (max-width: 1286px) {
  *{
    overflow: hidden !important;
  }
  .mobile-warning {
    display: flex;
    position: fixed;
    top: 0px;
    inset: 0;
    width:100vw;
    height: 100vh;
    background: black;
    color: white;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}
