.mobile-warning {
  display: none;
}

@media (max-width: 1286px) {
  .mobile-warning {
    display: flex;
    position: fixed;
    inset: 0;
    background: black;
    color: white;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
  }
}
