swiper-container {
    width: 100%;
    height: 100vh;
    transition-duration: 1s;
}

swiper-slide img {
    height: auto;
    margin-inline: auto;
    cursor: default !important;
}

.zoom {
    position: relative;
    margin: auto;
    width: 50%;
    border-radius: 80px;
}

.screen {
    width: 99%;
    border-radius: 70px;
}

.frame {
    top: -10px;
}

h4 {
    font-size: 43px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.348);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 100px;
}
