<div class="relative h-[200vh]">
    <swiper-container class="sticky top-0" [allowTouchMove]="false" #swiperRefScreen slides-per-view="auto" centered-slides="true"  appAnimation
        action="fade-in-bottom" [threshold]=".1">
        <swiper-slide>
            <div class="swiper-zoom-container ">

                <div class="swiper-zoom-target zoom relative">
                    @if(showText()){
                    <h4 class="absolute" animate.leave="fade-out-leave" animate.enter="fade-in-enter">{{text()}}</h4>
                    }
                    @if (isVideo()) {
                    <video class="screen" [muted]="true" [autoplay]="true" src="{{src()}}"></video>
                    }
                    @else {
                    <img class=" screen" src="{{src()}}" />
                    }
                    <img class="frame absolute top-0 right-1" src="images/iphone.png" alt="">
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</div>