section{
    margin-inline: 260px;
    gap: 50px;
}
.sticky{
    margin-top: 100px;
    top: 70px;
    z-index: -1;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100vh;
}
p{
    margin-top: 40px;
}
img{
    height: 90vh;
    position: absolute;
    right: 20px;
}